@import "compass";
@import "compass/css3";
@import "normalize";
@import "clearfix";


@import "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";


/* colors */
$black: #252429;
// $black: #2A2A2A;
$grey: #C0C0C0;
$white: #FFFFFF;

$red: #B82734;
$green: #C8F576;
$blue: #0063FE;

$logo: #100026;

@import "/fonts/font.css";
@import "/fonts/icomoon/style.css";
@import "home.scss";
@import "main.scss";

/* vertical rythm goodness */
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
	font-family: 'AvenirNext LT Pro';
	font-weight: 300;
	color: $black;
	background: $white;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, b {
	font-weight: 600;
}

h4 {
	font-weight: 500;
}

.container {
	max-width: 900px;
	margin: 0px auto;
}

.logo {
	text-align: center;
	color: $logo;
	font-weight: 200;
	@include adjust-font-size-to(80px);

	.symbol {
		@include adjust-font-size-to(16px);
		vertical-align: -10%;
		padding: 0px 9px;
	}
}

.condensed {
	font-family: 'AvenirNext LT Pro Cn';
}

.icon-shake-alt, .icon-shake-diff {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-shake-alt:before {
	content: "\e001";
}
.icon-shake-diff:before {
	content: "\e000";
}