<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<title>Bets</title>
		<script src='javascripts/libs/jquery-2.0.3.min.js'></script>
        <script src='javascripts/common.js'></script>
        <script src='javascripts/bet.js'></script>
        <link rel="stylesheet" type="text/css" href="screen.css">
	</head>

	<body>
		<header>
			<h1>alphabet</h1>
			<p>social betting</p>
		</header>
			
			<h2>Request Bet</h2>

		<ul>
			<li style="display: inline-block;">
				<img src="http://placehold.it/50x50" />
				<p>you (amount: <b><input type="text" /></b>)</p>
			</li>
			<li style="display: inline-block;">
				<img src="http://placehold.it/50x50" />
				<p>john (amount: <b><input type="text" /></b>)</p>
			</li>
		</ul>	
	
		<hr />
		<ul id="categories">		
			<!-- Bet categories -->
		</ul>
		<hr />
<form id="form">
	<!-- <input type="radio" name="sex" value="the weather will be good friday">the weather will be good friday<br />
	<input type="radio" name="sex" value="the weather will be good friday">the weather will be good friday<br />
	<input type="radio" name="sex" value="i wont kook crack in my basement on tuesday">i wont kook crack in my basement on tuesday<br /> -->
</form>
<br />
		<button>place bet</button>


	</body>
</html>