<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
        <script src='../libs/jquery-2.0.3.min.js'></script>
        <script src='../src/common.js'></script>
        <script src='../src/index.js'></script>
        
		<title>alphaBet</title>
	</head>

	<body>
		<header>
			<h1>alphabet</h1>
			<p>social betting</p>
			<button id="login">login</button>
		</header>


	</body>
</html>
