<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<script src='javascripts/libs/jquery-2.0.3.min.js'></script>
        <script src='javascripts/common.js'></script>
        <script src='javascripts/main.js'></script>
        <link rel="stylesheet" type="text/css" href="screen.css">
		<title>Bets</title>
	</head>

	<body>
		<div class="container" id="main">
			<header>
				<h1 class="logo">alpha<span aria-hidden="true" class="icon-shake-diff symbol"></span>bet</h1>
			</header>
			<nav>
				<button id="makeBet" class="navButton"><i class="icon-ticket"></i> make bet</button>
				<button id="decideBet" class="navButton"><i class="icon-legal"></i> decide bets</button>
			</nav>


			<section class="stakes">
				<h2>Stakes</h2>
				<ul>
					<li id="hook">
						<h2 id="stakesHook">- $23</h2>
						<h4 class="condensed">on the hook</h4>
					</li>
					<li id="win">
						<h2 id="stakesWin">+ $23</h2>
						<h4 class="condensed">could win</h4>
					</li>
				</ul>
			</section>

			<section class="your-bets">
				<h2>Your Bets</h2>
				<ul id="feed">			
					<!-- Feed of bets -->
				</ul>
			</section>

			<footer>
				<div class="alpha">α<span>β</span></div>
			</footer>
		</div>
	</body>
</html>