<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<script src='javascripts/libs/jquery-2.0.3.min.js'></script>
        <script src='javascripts/common.js'></script>
        <script src='javascripts/main.js'></script>
        <link rel="stylesheet" type="text/css" href="screen.css">
		<title>Bets</title>
	</head>

	<body>
		<div class="container" id="main">
			<header>
				<h1 class="logo">alpha<span aria-hidden="true" class="icon-shake-diff symbol"></span>bet</h1>
			</header>
			<nav>
				<button id="makeBet" class="navButton"><i class="icon-ticket"></i> make bet</button>
				<button id="decideBet" class="navButton"><i class="icon-legal"></i> decide bets</button>
			</nav>


			<section class="stakes">
				<h2>Stakes</h2>
				<ul>
					<li id="hook">
						<h2 id="stakesHook">- $23</h2>
						<h4 class="condensed">on the hook</h4>
					</li>
					<li id="win">
						<h2 id="stakesWin">+ $23</h2>
						<h4 class="condensed">could win</h4>
					</li>
				</ul>
			</section>

			<section class="your-bets">
				<h2>Your Bets</h2>
				<ul id="feed">			
					<!-- Feed of bets -->
				</ul>
			</section>

			<footer>
				<div class="alpha">α<span>β</span></div>
			</footer>

			<!-- CREATE MODAL -->
			<div class="modal">
				<div class="box">
					<div class="bet">
						<div class="dropdown">
							<i class="icon-caret-down arrow"></i>
							<select>
								<option value = "1">make up my own bet..</option>
								<option value = "2">bet on the weather</option>
							</select>
						</div>
						<div class="bet-canvas">
							<textarea name="textarea">what's yer wager?</textarea>
						</div>
					</div>
					<div class="people">
						<ul>
							<li class="left">
								<img src="http://placehold.it/100x100" />
								<div class="price">
									<h3>
										<span>$</span><b><input type="text" maxlength="2" >50</input></b><span>$</span>
									</h3>
								</div>
								<hr />
							</li>
							<li class="right">
								<div class="price">
									<h3>
										<span>$</span><b><input type="text" maxlength="2" >50</input></b><span>$</span>
									</h3>
								</div>
								<img src="http://placehold.it/100x100" />
								<hr />
							</li>
						</ul>
					</div>
					<button class="submit"><i class="icon-exchange"></i> challenge</button>
				</div>
			</div>

			<!-- DECIDE MODAL -->
			<div class="modal-2">
				<div class="box">
					<div class="bet">
						<h6>"John will have sex with bob before tuesday and like it. Totally."  <span><img src="http://placehold.it/24x24" /><p>Basil Siddiqui</p></span></h6>
					</div>
					<div class="people">
						<h5>who won?</h5>
						<ul class="cf">
							<li class="left">
								<span class="oh-yeah">✔</span>
								<img src="http://placehold.it/100x100" />
								<p>Basil Siddiqui</p>
							</li>
							<li class="right">
								<img src="http://placehold.it/100x100" />
								<p>Basil Siddiqui</p>
							</li>
						</ul>
					</div>

					<button class="submit"><i class="icon-trophy"></i> send winner</button>
				</div>
			</div>

		</div>
	</body>
</html>