<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<script src='../libs/jquery-2.0.3.min.js'></script>
        <script src='../src/common.js'></script>
        <script src='../src/main.js'></script>
		<title>Bets</title>
	</head>

	<body>
		<header>
			<h1>alphabet</h1>
			<p>social betting</p>
		</header>
		<nav>
			<button id="makeBet">make bet</button>
			<button id="makeBet">decide bets</button>
		</nav>
		<section>
		<h2>Stakes</h2>
		<ul>
			<li style="display: inline-block; width: 200px; text-align: center;">
				<h4>on the hook</h4>
				<h2 id="stakesHook">{{hook}}</h2>
			</li>
			<li style="display: inline-block; width: 200px; text-align: center;">
				<h4>could win</h4>
				<h2 id="stakesWin">{{wins}}</h2>
			</li>
		</ul>
		</section>

		<h2>Your Bets</h2>
		<ul id="feed">			
			<!-- Feed of bets -->
		</ul>


	</body>
</html>