@font-face {
  font-family: 'Fighting Spirit TBS';
  src: url('fighting spirit TBS_bold.eot'); /* IE9 Compat Modes */
  src: url('fighting spirit TBS_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fighting spirit TBS_bold.woff') format('woff'), /* Modern Browsers */
       url('fighting spirit TBS_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fighting spirit TBS_bold.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

